<app-links></app-links>
<div class="main-div">
    <div class="good-experience">
        <h3>I have a good level of experience with the following tools:</h3>
        <div class="paragraphs">
            <p>Angular</p>
            <p>Javascript</p>
            <p>Typescript</p>
            <p>HTML</p>
            <p>CSS</p>
            <p>Express</p>
            <p>MongoDB</p>
            <p>Firebase</p>
        </div>
    </div>
    <div class="little-experience">
        <h3>And little experience with these:</h3>
        <div class="paragraphs">
            <p>Dart</p>
            <p>Flutter</p>
            <p>React</p>
        </div>
    </div>
    <div class="qualities">
        <h3>Qualities:</h3>
        <div class="paragraphs">
            <p>Quick Learner</p>
            <p>Efficient</p>
            <p>Good At Communication</p>
        </div>
    </div>
</div>